.app {
    text-align: center;
    margin: 50px auto;
    font-size: 30px;
    max-width: 70%;
    width: 100%;
}
.text {
    margin-top: 50px;
    font-size: 3rem;
    line-height: 2.5rem;
}
.buttonBlock {
    display: flex;
    gap: 10px;
}
.sortButton {
    background-color: #364974 !important;
}
.sortButton:hover {
    background-color: var(--primary-color) !important;
}
.links {
    display: flex;
}
.links ul li {
    margin: 20px;
}
/*--------------------------------------*/

/*#tasks {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    padding: 20px;*/
/*}*/

/*.tasks__wrapper {*/
/*    max-width: 70%;*/
/*    width: 100%;*/
/*}*/

/*.tasks__wrapper_hidden {*/
/*    display: none;*/
/*}*/

/*.main-navigation {*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    background-color: var(--primary-color);*/
/*}*/

/*.main-navigation__button-item {*/
/*    position: relative;*/
/*    background-color: var(--primary-color);*/
/*    color: var(--text-color);*/
/*    padding: 25px;*/
/*    text-decoration: none;*/
/*    font-size: 2rem;*/
/*    line-height: 2.5rem;*/
/*}*/

/*.main-navigation__button-item_selected {*/
/*    box-shadow: inset 0 0 0 4px #fff;*/
/*}*/

/*.tooltip {*/
/*    position: absolute;*/
/*    left: -50%;*/
/*    bottom: calc(100% + 5px);*/
/*    margin: auto 0;*/

/*    background-color: var(--primary-color);*/
/*    color: var(--text-color);*/
/*    font-size: 1.5rem;*/
/*    line-height: 2rem;*/
/*    width: 200px;*/
/*    border: 2px solid var(--default-border-color);*/
/*}*/

/*.error-message-block {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/

/*    font-size: 1.5rem;*/
/*    line-height: 2rem;*/
/*    color: var(--error-color);*/
/*}*/

/*.modal-overlay {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    background-color: var(--modal-overlay);*/
/*    z-index: 1000;*/
/*    transition: 0.2s ease;*/
/*    opacity: 1;*/
/*}*/

/*.modal-overlay_hidden {*/
/*    top: 100%;*/
/*    opacity: 0;*/
/*}*/

/*.delete-modal {*/
/*    position: relative;*/
/*    top: 0;*/
/*    width: 50%;*/
/*    height: fit-content;*/
/*    padding: 15px 25px;*/

/*    border: 2px solid var(--text-color);*/
/*    border-radius: 5px;*/
/*    background-color: var(--primary-color);*/
/*    transition: 0.3s ease-in;*/
/*}*/

/*.delete-modal__question {*/
/*    font-size: 2rem;*/
/*    line-height: 2.5rem;*/
/*    color: var(--text-color);*/
/*    margin: 0;*/
/*    margin-bottom: 30px;*/
/*    text-align: center;*/
/*}*/

/*.delete-modal__buttons {*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*}*/

/*.delete-modal__button {*/
/*    cursor: pointer;*/

/*    font-size: 2rem;*/
/*    line-height: 2.5rem;*/

/*    border: 1px solid var(--text-color);*/
/*    border-radius: 5px;*/

/*    background: none;*/
/*    color: var(--text-color);*/
/*    padding: 5px 10px;*/

/*    transition: 0.3s ease;*/
/*}*/

/*.delete-modal__button:hover {*/
/*    box-shadow: 0 0 0 1px var(--text-color);*/
/*}*/

/*.delete-modal__confirm-button {*/
/*    background-color: var(--delete-button-background);*/
/*    border: 1px solid var(--delete-button-background);*/
/*}*/